  @import "landing";
  @import "album";
  @import "collection";
  @import "player_bar";
  @import "buttons";
  @import "profile";
  

html {
  height: 100%;
}

body {
  font-family: 'Open Sans';
  color: white;
  min-height: 100%;
  background: -webkit-radial-gradient( #292033, #41384D);
  background: radial-gradient( #292033, #41384D); 
  padding-bottom: 150px;
}

body.landing {
  background: #41384D;
  padding-bottom: 0;
}

body.landing .navbar {
  margin-bottom: 0;
}

.player-header-nav {
  background-color: #685480;
}

h2 {
  background-color: #eb5cb6;
  width: 350px;
  padding: 20px;
}

// medium-purple: #7B46A3 - 123, 70, 163
//




 
 
 
  
 
 
 
  